{% extends 'layout.html.twig' %}

{% block content %}
    <div class ="voir-plus">
        <div class="voir-plus-content">
            <a href="{{ article_data.article_url }}">
                <img src="{{ article_data.image_url }}" class="card-img-top article-picture voir-plus-picture" alt="image correspondant à l'article">
                <p class="card-title">{{ article_data.title }}</p>
            </a>
        </div>
        <div class="voir-plus-content">
            <p class="voir-plus-text">{{ article_data.description }}</p>
        </div>
        <div class="voir-plus-content">
            <p class="voir-plus-text">{{ article_data.username }} a ajouté cette veille le {{ article_data.created_at }}</p>
        </div>
        <form method="post" action="/article/addCommentUser">
        <div class="form-group">
            <input id="userId" name="userId" type="hidden" value="{{ session.user.id }}">
            <input id="articleId" name="articleId" type="hidden" value="{{ article_data.article_id }}">
            <label for="exampleFormControlTextarea1"></label>
            <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="5" cols="100" placeholder="Ecris ton commentaire ici"></textarea>
        </div>
        <button type="submit" class="btn btn-voir-plus">Publier</button>
        </form>
        <div class="voir-plus-content">
            <h2 class="title-articles-pages">Derniers commentaires publiés</h2>
            {% if comment_data is not empty %}
                {% for comment in comment_data %}
                    <p class="voir-plus-text">{{ comment.message }} - {{ comment.username}} a publié ce message</p>
                    {% endfor %}
            {% else %}
                <p class="voir-plus-text">Pas de commentaires pour le moment, sois le premier à commenter !</p>
            {% endif %}
        </div>
    </div>
{% endblock %}