<div id="{{ id }}" class="carousel slide" data-ride="carousel" data-interval="0">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="cards-box">
                {% for article in articles|slice(0,4) %}
                    {% include 'techwatch_item/_article_card.html.twig' %}
                {% endfor %}
            </div>
        </div>
        {% for i in 1..4 %}
            <div class="carousel-item">
                <div class="cards-box">
                    {% for article in articles|slice(4*i,4) %}
                        {% include 'techwatch_item/_article_card.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <ol class="carousel-indicators">
        <li data-target="#{{ id }}" data-slide-to="0" class="active"></li>
        {% for i in 1..4 %}
            <li data-target="#{{ id }}" data-slide-to="{{ i }}"></li>
        {% endfor %}
    </ol>
    <a class="carousel-control-prev" href="#{{ id }}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{ id }}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>