<div class="icon">
    <button type="button" class="btn btn-primary btn-lg star">
        <i class="fa fa-star-o" aria-hidden="true" data-articleid="{{  article.article_id }}" data-userid="{{ article.user_id }}" data-starcount="{{ article.star }}"></i>
        <span class="count-{{ article.article_id }}">{{ article.star }}</span>
    </button>
</div>