{% extends 'layout.html.twig' %}

{% block title %}
    Publie une veille
{% endblock %}

{% block content %}
    <img class="fond" src="/assets/images/fond.png">
    <div class="container add-article">
        <div class="img">
            <img src="/assets/images/computer.svg">
        </div>
        <div class="login-content">
            <form action="/article/addWatch" method="post">
                <div>
                    <h2 class="title">Publie une veille</h2>
                    <div  class="input-div title {{ userData.title ? 'focus' }}">
                        <div class="i">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="div">
                            <input id="userId" name="userId" type="hidden" value="{{ session.user.id }}">
                            <input id="dateTime" name="dateTime" type="hidden" value="{{ date_time }}">
                            <h5>Titre</h5>
                            <input type="text" name="title" class="input is-invalid {{ errors.title ? 'form-control' }}" value="{{ userData.title ? userData.title }}">
                            <div class="invalid-feedback">
                                {{errors.title}}
                            </div>
                        </div>
                    </div>
                    <div class="input-div link {{ userData.link ? 'focus' }}">
                        <div class="i">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="div">
                            <h5>Lien vers l'article</h5>
                            <input type="text" name="link" class="input is-invalid {{ errors.link ? 'form-control' }}" value="{{ userData.link ? userData.link }}">
                            <div class="invalid-feedback">
                                {{errors.link}}
                            </div>
                        </div>
                    </div>
                    <div class="input-div picture {{ userData.picture ? 'focus' }}">
                        <div class="i">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="div">
                            <h5>URL de l'image</h5>
                            <input type="text" name="picture" class="input is-invalid {{ errors.picture ? 'form-control' }}" value="{{ userData.picture ? userData.picture }}">
                            <div class="invalid-feedback">
                                {{errors.picture}}
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <textarea class="add-description is-invalid {{ errors.description ? 'form-control' }}" name="description" id="description" cols="50" rows="5" placeholder="Description de l'article">{{ userData.description ? userData.description }}</textarea>
                        <div class="invalid-feedback">
                            {{errors.description}}
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn-check" value="Publier">
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/assets/js/main.js"></script>
{% endblock %}
