{% extends 'layout.html.twig' %}

{% block title %}
    Créer ta veille
{% endblock %}

{% block content %}
    <img class="fond" src="/assets/images/fond.png">
    <div class="container">
        <div class="login-content">
            <form action="/user/addUser" method="post" class="register-form">
                <div>
                    <h2 class="title">Créer ta veille</h2>
                    <div  class="input-div title {{ userData.title ? 'focus' }}">
                        <div class="i">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="div">
                            <h5>Titre</h5>
                            <input type="text" name="title" class="input is-invalid" {% if userData.username %} value="{{ userData.username }}" {% endif %}>
                            <div class="invalid-feedback">
                                {{errors.title}}
                            </div>
                        </div>
                    </div>
                    <div class="input-div keyword {{ userData.keyword ? 'focus' }}">
                        <div class="i">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="div">
                            <h5>Mots-clés</h5>
                            <input type="text" name="keyword" class="input is-invalid" {% if userData.firstname %} value="{{ userData.firstname }}" {% endif %}>
                            <div class="invalid-feedback">
                                {{errors.keyword}}
                            </div>
                        </div>
                    </div>
                    <div class="input-div link {{ userData.link ? 'focus' }}">
                        <div class="i">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="div">
                            <h5>Lien vers l'article</h5>
                            <input type="text" name="link" class="input is-invalid" {% if userData.firstname %} value="{{ userData.firstname }}" {% endif %}>
                            <div class="invalid-feedback">
                                {{errors.link}}
                            </div>
                        </div>
                    </div>
                    <div class="input-div picture {{ userData.picture ? 'focus' }}">
                        <div class="i">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="div">
                            <h5>URL de l'image</h5>
                            <input type="text" name="picture" class="input is-invalid" {% if userData.lastname %} value="{{ userData.lastname }}" {% endif %}>
                            <div class="invalid-feedback">
                                {{errors.picture}}
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <h5>Description</h5>
                        <textarea name="description" id="description" cols="30" rows="10"></textarea>
                        <div class="invalid-feedback">
                            {{errors.description}}
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn-check" value="Login">
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/assets/js/main.js"></script>
{% endblock %}
