{% extends 'layout.html.twig' %}

{% block title %}
    Formulaire d'inscription
{% endblock %}

{% block content %}
    <img class="fond" src="/assets/images/fond.png">
    <div class="container">
        <div class="img">
            <img src="/assets/images/computer.svg">
        </div>
        <div class="login-content">
            <form action="/user/addUser" method="post" class="register-form">
                <div>
                    <img src="/assets/images/avatar.svg">
                    <h2 class="title">Inscription</h2>
                    <div  class="input-div user {% if userData.username %}{{ 'focus' }}{% endif %}">
                        <div class="i">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="div">
                            <h5>Pseudo</h5>
                            <input type="text" name="username" class="input is-invalid" {% if userData.username %} value="{{ userData.username }}" {% endif %}>
                            <div class="invalid-feedback">
                                {{errors.username}}
                            </div>
                        </div>
                    </div>
                    <div class="input-div firstname {% if userData.firstname %}{{ 'focus' }}{% endif %}">
                        <div class="i">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="div">
                            <h5>Prénom</h5>
                            <input type="text" name="firstname" class="input is-invalid" {% if userData.firstname %} value="{{ userData.firstname }}" {% endif %}>
                            <div class="invalid-feedback">
                                {{errors.firstname}}
                            </div>
                        </div>
                    </div>
                    <div class="input-div Lastname {% if userData.lastname %}{{ 'focus' }}{% endif %}">
                        <div class="i">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </div>
                        <div class="div">
                            <h5>Nom</h5>
                            <input type="text" name="lastname" class="input is-invalid" {% if userData.lastname %} value="{{ userData.lastname }}" {% endif %}>
                            <div class="invalid-feedback">
                                {{errors.lastname}}
                            </div>
                        </div>
                    </div>
                    <div class="input-div pass {% if userData.password %}{{ 'focus' }}{% endif %}">
                        <div class="i">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </div>
                        <div class="div">
                            <h5>Mot de passe</h5>
                            <input type="password" name="password" class="input is-invalid" {% if userData.password %} value="{{ userData.password }}" {% endif %}>
                            <div class="invalid-feedback">
                                {{errors.password}}
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn-check" value="Login">
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/assets/js/main.js"></script>
{% endblock %}
